<h3>Satellite Count:</h3>
<div class="counts">
	<div>Total: 
		<span class="counts-total">
			{{satellites.length}}
		</span>
	</div>
	
	<!-- <div *ngFor = 'let satellite of satellites'>{{satellite.type}}: 
		<span class="counts-probe">
			{{countByType('satellite.type')}}
		</span>
	</div> -->


	<!-- <div>Space Debris: 
		<span class="counts-debris">
			{{countByType('Space Debris')}}
		</span>
	</div>
	
	<div>Communication: 
		<span class="counts-communication">
			{{countByType('Communication')}}
		</span>
	</div>
	
	<div>Probe: 
		<span class="counts-probe">
			{{countByType('Probe')}}
		</span>
	</div>

	<div>Positioning: 
		<span class="counts-positioning">
			{{countByType('Positioning')}}
		</span>
	</div>

	<div>Space Station: 
		<span class="counts-space-station">
			{{countByType('Space Station')}}
		</span>
	</div>

	<div>Telescope: 
		<span class="counts-telescope">
			{{countByType('Telescope')}}
		</span>
	</div> -->

</div>

<!-- TODO 4: add logic to count number of satellites displayed -->